
/*  comments    */

.body {
	/*  font-family: 'Fuzzy Bubbles', cursive;  */
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: rgb(221, 236, 247);	
}

.format_body {
	padding: 45px;
	background-color: white;
	width: 950px;
	margin: auto;
	padding-top: 30px;
	
}

.footnote_font{
	font-size: 10px;
	padding: 50px;
}

h1 {
    font-weight: 800;
}

.format_choropleth {
	/*    */
	width: 100%;
}

.format_scatterplot {
	width: 90%;
}

.format_textbox {
	text-align: justify;
	padding: 25px;
}


