
/*  comments    */

.body {
	font-family: 'Open Sans', sans-serif;
}

.format_body{
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	background-color: lightyellow;
}

.footnote_font{
	font-size: 10px;
}

.format_choropleth {
	/*    */
	left: 10px;
	right: 10px;
	top:10px;
	bottom: 10px; 

}




